<footer>
    <h3>
        @Coding Ninjas.All Rights Reserved.
    </h3>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/users/profile">Profile</a>
        </li>
    </ul>
</footer>