        <link rel="stylesheet" href="/css/user_profile.css">
        <title><%=title%></title>
        <h1>
            Codeial / Profile Page
        </h1>
        <h2>Name: <%=user.name%></h2>
        <h2>Email: <%=user.email%></h2>